.Menu {
  list-style-type: none;
  display        : flex;
  flex-flow      : row nowrap;
  justify-content: center;
  align-items    : center;

  &__item {
    margin: 0;
  }
  &__link {
    color          : white;
    display        : inline-block;
    padding        : 1rem;
    text-decoration: none;

    &--active,
    &:active,
    &:focus,
    &:hover {
      color: red;
    }
  }
}
